body {
    margin: 0;
}

.navbar {
    padding: 30px 0;
}

.logo {
    height: 65px;
    flex-grow: 1;
}

.mynavbar {
    flex-grow: 1;
}

.header-input {
    flex-grow: 1;
    height: fit-content;
    align-self: center;
    padding: 15px 10px;
    border-radius: 20px;
    border: 1px solid #8572d4;
}

.navbar-brand {
    flex-grow: 1;
    text-align-last: right;
}

.search-container {
    width: 100%;
}

.header-me {
    display: flex;
    gap: 15px;
    flex-grow: 1;
}

.header-me button {
    background: none;
    border: none;
    font-size: 16px;
    cursor: pointer;
}

.main-img {
    width: 100vw;
    height: 585px;
    object-fit: cover;
}

.today-item img {
    width: 100%;
    object-fit: cover;
    aspect-ratio: 1;
}

section {
    justify-self: center;
    padding: 5% 0;
    display: flex;
    flex-direction: column;
    gap: 100px;
}

.title {
    font-size: 28px;
    font-weight: bold;
    margin : 0;
}

.today-list {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 30px;
}

.special-list {
    display: flex;
    gap: 2%;
}

.special-img {
    width: 49%;
    object-fit: cover;
    aspect-ratio: 1.63;
}

.container {
    display: flex;
    gap: 20px;
    flex-direction: column;
    width: 75vw;
    margin: auto;
}

.item-price {
    font-size: 19px;
    color: #c80202;
}

.item-date {
    display: flex;
    gap: 8px;
    flex-wrap: wrap;
}

.item-date span {
    background: pink;
    padding: 3px 10px;
    border-radius: 15px;
}

.today-item {
    display: flex;
    flex-direction: column;
    gap: 6px;
}

@media (max-width: 1080px) {
    .today-list {
        grid-template-columns: 1fr 1fr;
    }

    .special-list {
        flex-direction: column;
        gap: 20px;
    }
    .special-img {
        width: 100%;
    }
}

@media (max-width: 575px) {
    .navbar {
        padding: 10px 3rem;
    }
    .navbar-brand {
        flex-grow: inherit;
    }
    .today-list{
        grid-template-columns: 1fr;
    }
}