.mainImg {
  justify-self: center;
}
.todayList {
  display: grid;
  grid-template-columns: 1fr 1fr;
  place-items: center;
  gap: 20px;
}
.todayItem {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.todayItem img {
  display: block;
  height: 100%;
  aspect-ratio: 1;
  max-width: 290px;
  object-fit: cover;
}
.todayItem p {
  font-size: 18px;
}
.itemDate {
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
}
.itemDate span {
  background: pink;
  padding: 5px 11px;
  border-radius: 15px;
}
.itemPrice {
  font-size: 19px;
  color: #c80202;
}
